<aside id="left-panel">

	<!-- User info -->
	<app-login-info></app-login-info>
	<!-- end user info -->

	<nav>
		<!-- NOTE: Notice the gaps after each icon usage <i></i>..
    Please note that these links work a bit different than
    traditional href="" links. See documentation for details.
    -->

		<ul saSmartMenu>

			<li routerLinkActive="active">
				<a routerLink="/home" title="Home">
					<i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">{{'Home' | i18n}}</span></a>
			</li>

			<li routerLinkActive="active">
				<a routerLink="/exercises" title="Exercises">
					<i class="fa fa-lg fa-fw fa-bicycle"></i><span class="menu-item-parent">{{'Exercises' | i18n}}</span></a>
			</li>

			<li>
				<a title="Your Profile"><i class="fa fa-lg fa-fw fa-user"></i>
				    <span class="menu-item-parent">Your Profile</span>
				</a>
				<ul>
					<li routerLinkActive="active">
						<a routerLink="/profile/general">
							<i class="fa fa-lg fa-fw fa-user"></i>General
						</a>
					</li>
					<li routerLinkActive="active">
						<a routerLink="/profile/locations">
							<i class="fa fa-lg fa-fw fa-globe"></i>Workout Locations
					    </a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>

	<sa-minify-menu></sa-minify-menu>

</aside>