<div class="grid grid-pad">
  <div class="module user-profile-main">
    <h3>Your Profile</h3>
    <p>
      user-profile-main works!
    </p>
    <p>
      Your gender is {{userGender$|async}}
    </p>
  </div>
</div>