<div class="grid grid-pad">
	<table style="width:100%" class="location-list table-hover table-responsive">
		<tr *ngFor="let location of locations" class="col-1-5 table" (click)="select($event,location)" [class.selected]="location === selectedLocation">
			<td class="col-xs-4">{{location.name}}</td>
			<td>
				<button class="delete-button col-xs-1" (click)="delete($event,location) ">X</button>
			</td>
		</tr>
	</table>
</div>