<span class="dropdown" dropdown>
  <a href dropdownToggle (click)="false">{{ 'Location' | i18n }}:<br/>
      <span *ngIf="currentLocation; then showLocation; else showNoLocation"></span>
<span class="caret"></span>
<ng-template #showNoLocation>
    {{'(none selected)' | i18n}}
</ng-template>

<ng-template #showLocation>
    {{currentLocation.name}}
</ng-template>
</a>
<ul *dropdownMenu class="dropdown-menu">
    <li *ngFor="let location of locations">
        <a class="dropdown-item" (click)="setLocation(location.id)">{{location.name}}</a>
    </li>
    <li class="divider dropdown-divider"></li>
    <li>
        <a href="profile/locations"><i class="fa fa-map-pin"></i> Manage Locations</a>
    </li>
</ul>
</span>