<div class="location-detail container">
	<h4>{{location.name}}</h4>

	<app-equipment [locationEquipment]="locationEquipment" [allEquipment]="allEquipment" [locationName]="location.name" (onEquipmentChanged)="saveEquipment($event)">
	</app-equipment>

</div>