<div [style]="{'height': height + 'px' }" class="loading">
    <div class="vh-center">
        <div class="col-lg-12">
            <i class="glyphicon glyphicon-refresh gly-spin"></i> {{message}}
        </div>
    </div>
</div>