<div class="login-info">
  <span *ngIf="(user$|async)?.picture">
    <a routerLink="/profile/general">
     <img [src]="(user$|async).picture" alt="me" class="online"/><span>{{(user$|async)?.username }}</span>
  </a>
  </span>
</div>