<div class="grid grid-pad">
	<table style="width:100%" class="table-striped table-hover table-responsive">
		<tr>
			<th data-field="name" data-sortable="true">Name</th>
			<th>Muscle Group</th>
			<th>Difficulty</th>
			<th></th>
			<th></th>
			<th></th>
		</tr>
		<tr *ngFor="let exercise of exercises" class="col-1-4 table">
			<!--<tr *ngFor="let exercise of exercises" [routerLink]="['/detail', exercise.id]" class="col-1-4">-->
			<td>{{exercise.name}}</td>
			<td>{{exercise.muscleGroups}}</td>
			<td>{{exercise.difficulty}}</td>
			<td>Picture Here</td>
			<td>edit pencil</td>
			<td>delete garbage</td>
		</tr>
	</table>
</div>