<!--<header id="header" class="animated fadeInDown"> </header>-->
<div id="new-location" role="new-location" class="animated fadeInDown">
	<!--<form id="new-location-form" class="smart-form client-form flex-container" [saBootstrapValidator]="validatorOptions" novalidate="novalidate">-->
	<form id="new-location-form" class="smart-form flex-container" [saBootstrapValidator]="validatorOptions" novalidate="novalidate">
		<header class="flex-item">{{'(New)' | i18n}}</header>
		<fieldset class="flex-item">
			<div id="new-location-controls" class="form-group">
				<section>
					<label class="input "> <i class="icon-append fa fa-pin "></i>
                                        <input id="name " name="name " type="text "  class="form-control "
                                            [(ngModel)]="location.name " 
                                            placeholder="Location name* " />
                                        <b class="tooltip tooltip-top-right ">A unique name for this location</b> 
                                    </label>
				</section>
			</div>
		</fieldset>
		<footer class="flex-item flex-container">
			<button class="flex-item" (click)="create($event) " class="btn btn-primary">Save</button>
			<button class="flex-item" (click)="cancel($event) " class="btn">Cancel</button>
		</footer>
		<!--#messages is where the validation messages are placed -->
		<div class="flex-item ">
			<div id="messages "></div>
		</div>

	</form>

</div>