
#new-location-form.flex-container {
    /*background-color: lightpink;*/
    display: flex;
    flex-direction: column;
    width: 400px;
    /*height: 250px;*/
}

.flex-item {
    /*background-color: lightgrey;*/
    /*width: 100px;
    height: 100px;*/
    /*margin: 10px;*/
}

#location-name {

}

footer.flex-container {
    /*background-color: lightblue;*/
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    /*width: 400px;*/
    /*height: 250px;*/
}

/*footer.flex-item {
   width: 100px;
    height: 100px;
    margin: 20px;
}*/
