<!-- RIBBON -->
<div id="ribbon">

				<span class="ribbon-button-alignment">
					<span id="refresh" class="btn btn-ribbon" (click)="resetWidgets()"
                placement="bottom"
                [tooltip]="'<i class=\'text-warning fa fa-warning\'></i> Warning! This will reset all your widget settings.'">
						<i class="fa fa-refresh"></i>
					</span>
				</span>

  <!-- breadcrumb -->
  <sa-route-breadcrumbs></sa-route-breadcrumbs>
  <!-- end breadcrumb -->


</div>
