<div id="content">
    <div class="row">
        <sa-big-breadcrumbs [items]="['Home']" icon="home" class="col-xs-12 col-sm-7 col-md-7 col-lg-4"></sa-big-breadcrumbs>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="well">

                <h1>Welcome to Our First Workout App</h1>
                <a (click)="startWorkout($event)" class="btn btn-default btn-primary btn-lg">Start a workout</a>
                <hr class="simple">

            </div>
        </div>
    </div>
</div>