#add-new {
    vertical-align: bottom
}
>>> h4 { font-weight: bold } 
.location-detail {border-style: solid; border-width: 1px; border-color: blue;} 
.location-create {border-style: solid; border-width: 1px; border-color: red;} 