<div class="container">
    <div class="row">
        <h3 class="col-xs-2">Locations</h3>
    </div>

    <app-location-list class="row" [locations]="locations$|async" [selectedLocation]="selectedLocation" (onSelect)="select($event)"
        (onDelete)="delete($event)">
    </app-location-list>

    <div class="row" *ngIf="!newLocation">
        <button id="add-new" class="col-xs-2 " (click)="addNewLocation()">Add New</button>
    </div>

    <!--do this if there if the add-new button has initialized newLocation-->
    <div class="row location-create" *ngIf="newLocation">
        <app-location-create [location]="newLocation" (onSaveLocation)="saveNewLocation($event)" (onCancelLocation)="cancelNewLocation($event)"
            (onAddEquipment)="addEquipment($event)" (onRemoveEquipment)="removeEquipment($event)">
            ></app-location-create>
    </div>

    <!--do this if there if selectedLocation has been set by newly created location, 
    or by clicking on a location in the list-->
    <div class="row location-detail" *ngIf="selectedLocation">
        <app-location-detail class="col-xs-12" [location]="copyLocation(selectedLocation)" [locationEquipment]="locationEquipmentSimple$|async"
            [allEquipment]="allEquipment$|async" (onSaveLocation)="saveLocation($event)" (onCancelLocation)="cancelLocation($event)"
            (onEquipmentChanged)="saveEquipment($event)">
        </app-location-detail>
    </div>
</div>