<h3>Exercises</h3>
<exercise-search (filterChange)="onFilterChange($event)"></exercise-search>
<app-exercise-list [exercises]="(exercises$|async|exercisefilter:currentFilterTerm)"></app-exercise-list>