<h5>Location Equipment</h5>


<dual-list [key]="key" [display]="display" [source]="allEquipment" [(destination)]="localLocationEquipment" [filter]="filter"
    [format]="format" height="265px">
</dual-list>
<div>
    <button class="save-button col-xs-2" (click)="saveChanges($event) ">Save Changes</button>
</div>